
/* Header bar styling */
.navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #289e5d;
    color: white;
    font-size: 18px;
    text-align: center;
}

.navbar-brand {
    padding-left: 16px;
}

/* Spacer in the middle */
.navbar .spacer {
    flex-grow: 1;
}

/* User dropdown */
.navbar .user-dropdown {
    position: relative;
}

.navbar .dropdown-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-right: 16px;
    color: white;
}

.navbar .dropdown-toggle:hover {
    background-color: transparent;
    color: rgb(224, 224, 224)
}

.navbar .drowndown-icon {
    display: flex;
    flex: 50%
}
.navbar .drowndown-username {
    display: flex;
    flex: 50%
}