/* Dropdown menu */
.navbar .dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    color: black;
    min-width: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar .dropdown-menu li {
    padding: 10px;
}

.navbar .dropdown-menu li a {
    text-decoration: none;
    color: black;
}

.navbar .dropdown-menu li:hover {
    background-color: #eee;
}
